<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="test.css">
    <title>Slider TranslateX</title>
</head>
<body>
    <div class="slider">
        <div class="slide-ana">
            <div style="background-image: url('https://source.unsplash.com/1600x600/?cat')"><span class="title">Slide One Explanation</span></div>
            <div style="background-image: url('https://source.unsplash.com/1600x600/?dog')"><span class="title">Slide Two Explanation</span></div>
            <div style="background-image: url('https://source.unsplash.com/1600x600/?monkey')"><span class="title">Slide Three Explanation</span></div>
            <div style="background-image: url('https://source.unsplash.com/1600x600/?nature')"><span class="title">Slide Four Explanation</span></div>
        </div>
        <span class="icon-arrow_back" id="prev"></span>
        <span class="icon-arrow_forward" id="next"></span>
    </div>
    <script src="test.js"></script>
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="test.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
</head>
<body>
    
  <nav>
    <div class="topnav" id="navbar">
      <div class="logo">
        <figure>
          <img class="img-logo" src="images/logo.gif" alt="" />
        </figure>
      </div>
<div class="nav-wrapper">
      <a href="#homehero " class="navlink">Home</a>

      <div class="dropdown">
        <button class="dropbtn">
          <a href="#">About Us</a>
        </button>

        <div class="dropdown-content dropdown-contenttwo">
          <a href="#" style="color: rgb(232, 244, 255)">Team</a>
          <a href="#" style="color: rgb(232, 244, 255)">Pricing</a>
          <a href="#" style="color: rgb(232, 244, 255)">FAQ</a>
          <div class="dropdowntwo">
            <button class="dropbtntwo">More links</button>
            <div class="dropdowntwo-contenttwo">
              <a href="#" style="color: rgb(232, 244, 255)">Menu One</a>
              <a href="#" style="color: rgb(232, 244, 255)">Menu Two</a>
              <a href="#" style="color: rgb(232, 244, 255)">Menu Three</a>
            </div>
          </div>
        </div>
      </div>

      <a href="#menuaboutus" class="navlink">Services</a>

      <a href="#section-contact-us" class="navlink">Contact</a>
     </div>
     <div class="mobile-version">
      <button class="menu-button" id="mobile-button" onclick="mobilbutton()"><i class="fa-solid fa-bars"></i></button>
      <div class="mobile-menu-content" id="menu-slide">
        <ul> 
          <li> <a href="#" class="mobile-navlink">Home</a></li>
          <li> <a href="#" class="mobile-navlink">About Us</a></li>
          <ul>
          <li> <a href="#" class="mobile-navlink second-menu">Team</a></li>
          <li> <a href="#" class="mobile-navlink second-menu">Pricing</a></li>
          <li> <a href="#" class="mobile-navlink second-menu">FAQ</a></li>
          <ul>
          <li> <a href="#" class="mobile-navlink third-menu">Menu One</a></li>
          <li> <a href="#" class="mobile-navlink third-menu">Menu Two</a></li>
          <li> <a href="#" class="mobile-navlink thrd-menu">Menu Three</a></li>
        </ul></ul>
          <li> <a href="#" class="mobile-navlink">Services</a></li>
          <li> <a href="#" class="mobile-navlink">Contact</a></li>
        </ul>
      </div>
     </div> 
  </div>
  </nav>
  <!-- <section class="form">
    <div class="form-image">
      <div class="form-division">
        <form action="" id="form">
          <h2 class="contact-us">Contact Us</h2>
          <label for="album">
            <i class="fa-solid fa-user-tie"></i>
            Your Name Here
          </label>
          <input type="text" id="album" class="item" name="album" placeholder="e.g john doe" pattern="[A-Za-z ,.'-]+$" required/>
          <label for="artist">
            <i class="fa-regular fa-envelope"></i>
            Your Email
          </label>
          <input type="text" id="artist" class="item" name="artist" placeholder="email@domaine.com" pattern="[0-9A-Za-z ,.'-@]+$" required/>
          <label for="epistolaire">
            <i class="fa-regular fa-pen-to-square"></i>
            Your Message <br>
          </label>
          <textarea name="description" id="textarea" cols="38.5" rows="10" placeholder="type here" class="item message"></textarea>
    
          <input id="submit" class="button" type="submit" value="Submit"/>
          <input id="reset" class="button" type="reset" value="Reset"/>
        </form>
      
      </div>
    </div> 
     <div class="json-aera">
          <p>Your Name</p><br>
          <p id="user-json" ></p><br>
          <p>Your E-mail</p><br>
          <p id="email-json"><br>
          <p>Your Message</p><br>
          <p id="message-json"></p>
          </p>
        </div>
  </section> -->
  <script src="test.js"></script>
</body>
</html>